html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url("../../img/background/walPaper.png");
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    margin: 30px 60px;
    padding: 35px 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.PremierTitre{
    margin-top: 50px;
}

h2 {
    font-size: 30px;
    color: #333;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(40, 217, 88, 0.92);
    border-radius: 5px;
    text-align: center;
    display: block;
}

/* Styles Spécifiques aux Projets */
#contenueSiteEcommerce, #contenueEvote, #conteunueAventurierDuRail,#contenueSaveSync,#contenueCATS {
    margin: 0 auto;
    padding: 50px;
    width: 70%;
    max-width: 1200px;
    text-align: center;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box {
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
    margin: 40px 150px;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    .paragrapheContenue {
        font-size: 16px;
        margin: 30px 50px;
        padding: 15px 20px;
    }
}

.text-image-container, .text-box, #logoLanguages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.text-image-container img, #logoLanguages img {
    width: 20%;
    height: 20%;
    margin-right: 5px;
}

#logoLanguages img {
    transition: transform 0.3s;
}

#logoLanguages img:hover {
    transform: scale(1.1);
}

.text-image-container p {
    flex-grow: 1;
    text-align: justify;
    margin-right: 20px;
}

.side-image {
    width: 100px;
}

#divBouton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.text-box button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
}

.text-box button:hover {
    background-color: #45a049;
}

.scrollTop {
    position: fixed;
    bottom: 70px;
    right: 150px;
    display: none;
    background-color: rgb(36, 132, 143);
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-decoration: none;
    opacity: 0.7;
    z-index: 1000;
}

.scrollTop:hover {
    opacity: 1;
}



#imgProjetVote img, #imgApplicationRail,#imgSiteVinyl,#imgProjetSaveSync,#imgProjetCATS  {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#imgProjetSaveSync img{
    margin-bottom: 20px;
    border-radius: 5px;
}


