body {
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url("../../img/walPaper.png");
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#contenueBiographie {
    margin-left: auto;
    margin-right: auto;
    width: 60%; /* largeur obligatoire pour être centré */
    text-align: center;
    flex-grow: 1;
    padding: 50px;
}

h1 {

    font-size: 44px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;

    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: 60px;
    margin-left: 60px;

    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: 0 0 10px rgba(40, 217, 88, 0.92);

    border-radius: 5px;

}

h2 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;

    background: rgba(255, 255, 255, 0.7);
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;

    box-shadow: 0 0 10px rgba(40, 217, 88, 0.92);

    border-radius: 5px;

}
#contenueSiteEcommerce{
    margin-left: auto;
    margin-right: auto;
    width: 60%; /* largeur obligatoire pour être centré */
    text-align: center;
    flex-grow: 1;
    padding: 50px;
}

.text-box {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin: 30px auto;
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7); /* Ajoutez un arrière-plan semi-transparent */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre */
}

.text-box {
    display: flex;
    flex-direction: column;
}

.text-image-container {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom:20px; /* ajoute un espacement entre les conteneurs */
}

.text-image-container p {
    flex-grow: 1;
    text-align: justify;
    margin-right: 20px;
}

.side-image {
    width: 100px; /* ajustez la taille de l'image selon vos préférences */
}

#visuelSiteVinyl {
    width: 100%; /* Largeur de l'image à 100% de la div parente */
    height: auto; /* Hauteur ajustée automatiquement en fonction de la largeur */
    max-width: 1400px; /* Largeur maximale de l'image (ajustez selon vos préférences) */
}

#logoLanguages img {
    width: 20%;
    margin-right: 15px;
    max-height: 300px;
}

.text-image-container, #logoLanguages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Ajouté pour permettre le passage à la ligne si nécessaire */
    margin-bottom: 20px;
}

.text-image-container img, #logoLanguages img {
    width: 20%;
    margin-right: 5px;
}
/* Ajout de l'effet de zoom sur les images */
#logoLanguages img {
    transition: transform 0.3s;
}

#logoLanguages img:hover {
    transform: scale(1.1);
}

#divBouton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.text-box button {
    font-size: 16px; /* Taille de la police */
    font-weight: bold; /* Gras */
    padding: 10px 20px; /* Espacement interne */
    background-color: #4CAF50; /* Couleur du fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur en forme de main */
    text-decoration: none; /* Pas de soulignement */
    border-radius: 4px; /* Bords arrondis */
}

.text-box button:hover {
    background-color: #45a049; /* Couleur du fond au survol */
}


.scrollTop {
    position: fixed;
    bottom: 70px;
    right: 150px;
    display: none;
    background-color: rgb(36, 132, 143); /* Changer la couleur de fond ici */
    color: #fff;
    font-size: 30px; /* Changer la taille de la flèche ici */
    text-align: center;
    line-height: 50px; /* Changer la hauteur de la flèche ici */
    width: 50px; /* Changer la largeur de la flèche ici */
    height: 50px; /* Changer la hauteur de la flèche ici */
    border-radius: 25px; /* Changer le rayon de la bordure ici */
    text-decoration: none;
    opacity: 0.7;
    z-index: 1000;
}

.scrollTop:hover {
    opacity: 1;
}