html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url("../../img/background/walPaper.png");
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.paragrapheContenue{
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

.div_commune{
    display: flex;
    flex-direction: column;
    margin: 30px 100px 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#contenueBiographie, #contenueForum, #contenueNuitDeLinfo {
    margin: 0 auto;
    padding: 50px;
    width: 70%;
    max-width: 1200px;
    text-align: center;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    margin: 30px 60px;
    padding: 10px 40px;
    box-shadow: 0 0 10px rgba(40, 217, 88, 0.92);
    border-radius: 5px;
}

h1 {
    font-size: 33px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    margin: 30px 60px;
    padding: 20px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 0;
    font-size: 30px;
    color: #333;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
    display: block;
    font-family: 'Montserrat', sans-serif;

}
.PremierTitre{
    margin-top: 50px;
}

.text-box {
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
    margin: 40px 150px;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    border-radius: 5px;
}

.text-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.text-image-container p {
    flex-grow: 1;
    text-align: justify;
    margin-right: 20px;
}

.side-image, #imgStageDating, #imgAlternance, #imgNuitDeLinfo, #imgDefis {
    width: 100%;
    height: auto;
}

.scrollTop {
    position: fixed;
    bottom: 70px;
    right: 150px;
    display: none;
    background-color: rgb(36, 132, 143);
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-decoration: none;
    opacity: 0.7;
    z-index: 1000;
}

.scrollTop:hover {
    opacity: 1;
}

/* Styles Uniques pour NuitInfo.css */
#divBouton, #divImgDefis {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px;
}

button:hover {
    background-color: #45a049;
}