body {
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url("../../img/walPaper.png");
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#contenueBiographie {
    margin-left: auto;
    margin-right: auto;
    width: 60%; /* largeur obligatoire pour être centré */
    text-align: center;
    flex-grow: 1;
    padding: 50px;
}

h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;
}
#contenueNuitDeLinfo{
    margin-left: auto;
    margin-right: auto;
    width: 60%; /* largeur obligatoire pour être centré */
    text-align: center;
    flex-grow: 1;
    padding: 50px;
}

.text-box {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin: 30px auto;
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7); /* Ajoutez un arrière-plan semi-transparent */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre */
}

.text-box {
    display: flex;
    flex-direction: column;
}

.text-image-container {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom:20px; /* ajoute un espacement entre les conteneurs */
}

.text-image-container p {
    flex-grow: 1;
    text-align: justify;
    margin-right: 20px;
}

.side-image {
    width: 100px; /* ajustez la taille de l'image selon vos préférences */
}
#imgNuitDeLinfo{
    width: 100%;
    height: auto;
}

#divBouton{
    display: flex;
    align-items: center;
    justify-content: center;

}
.text-box button {
    font-size: 16px; /* Taille de la police */
    font-weight: bold; /* Gras */
    padding: 10px 20px; /* Espacement interne */
    background-color: #4CAF50; /* Couleur du fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur en forme de main */
    text-decoration: none; /* Pas de soulignement */
    border-radius: 4px; /* Bords arrondis */
}

.text-box button:hover {
    background-color: #45a049; /* Couleur du fond au survol */
}

#divImgDefis{
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgDefis{
    width: 60%;
    height: auto;
}
.scrollTop {
    position: fixed;
    bottom: 70px;
    right: 150px;
    display: none;
    background-color: rgb(36, 132, 143); /* Changer la couleur de fond ici */
    color: #fff;
    font-size: 30px; /* Changer la taille de la flèche ici */
    text-align: center;
    line-height: 50px; /* Changer la hauteur de la flèche ici */
    width: 50px; /* Changer la largeur de la flèche ici */
    height: 50px; /* Changer la hauteur de la flèche ici */
    border-radius: 25px; /* Changer le rayon de la bordure ici */
    text-decoration: none;
    opacity: 0.7;
    z-index: 1000;
}

.scrollTop:hover {
    opacity: 1;
}