html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url("../img/walPaper.png");
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
#contenueAvecFooter {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ajoutez cette propriété pour garantir que le conteneur occupe au moins la hauteur de la fenêtre */
}
#contenueAcceuil {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    flex-grow: 1;
    padding: 50px;
}
#cochon {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(40, 217, 88, 0.92);

}
h1 {

    font-size: 44px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;

    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: 60px;
    margin-left: 60px;

    padding-top: 10px;
    padding-bottom: 10px;

    box-shadow: 0 0 10px rgba(40, 217, 88, 0.92);

    border-radius: 5px;

}

h2 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;

    background: rgba(255, 255, 255, 0.7);
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;

    box-shadow: 0 0 10px rgba(40, 217, 88, 0.92);

    border-radius: 5px;

}

.paragrapheContenue {
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
    margin: 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(255, 255, 255, 0.7); /* Ajoutez un arrière-plan semi-transparent */
    color: #333;
    border-radius: 5px;
}
.scrollTop {
    position: fixed;
    bottom: 70px;
    right: 150px;
    display: none;
    background-color: rgb(36, 132, 143); /* Changer la couleur de fond ici */
    color: #fff;
    font-size: 30px; /* Changer la taille de la flèche ici */
    text-align: center;
    line-height: 50px; /* Changer la hauteur de la flèche ici */
    width: 50px; /* Changer la largeur de la flèche ici */
    height: 50px; /* Changer la hauteur de la flèche ici */
    border-radius: 25px; /* Changer le rayon de la bordure ici */
    text-decoration: none;
    opacity: 0.7;
    z-index: 1000;
}

.scrollTop:hover {
    opacity: 1;
}
