html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url("../img/background/walPaper.png");
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#contenueBiographie {
    margin: 0 auto;
    padding: 50px;
    width: 70%;
    max-width: 1200px;
    text-align: center;
    flex-grow: 1;
}

h1 {
    font-size: 33px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    margin: 30px 60px;
    padding: 20px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 30px;
    color: #333;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(40, 217, 88, 0.92);
    border-radius: 5px;
    text-align: center;
    display: block;
}
#divTitre{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px; /* Taille ajustée pour mobile */
    }
    h2 {
        font-size: 24px; /* Taille ajustée pour mobile */
    }
    .paragrapheContenue {
        font-size: 16px; /* Taille ajustée pour mobile */
        margin: 30px 50px;
        padding: 15px 20px;
    }
}

.button-container {
    display: flex;
    justify-content: center;
}

.download-btn {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    padding: 20px 30px;
}

.download-btn:hover {
    background-color: #555;
}

#magrosseTete {
    width: 282px;
    height: 500px;
    object-fit: cover;
    border-radius: 10%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#moiSurUntracteur{
    width: 263px;
    height: 350px;
    padding-left: 40px;
}
#moiSurUnStade{
    width: 300px;
    height: 390px;
    padding-left: 40px;
}

.text-box {
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
    margin: 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 150px;
    margin-right: 150px;
    color: #333;
    border-radius: 5px;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.text-image-container {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom:20px; /* ajoute un espacement entre les conteneurs */
}

.text-image-container p {
    flex-grow: 1;
    text-align: justify;
    margin-right: 20px;
}

.side-image {
    width: 100px;
}

#moiSurUntracteur, #moiSurUnStade {
    transition: transform 0.3s;
}

#moiSurUntracteur:hover, #moiSurUnStade:hover {
    transform: scale(1.2);
}
.scrollTop {
    position: fixed;
    bottom: 70px;
    right: 150px;
    display: none;
    background-color: rgb(36, 132, 143); /* Changer la couleur de fond ici */
    color: #fff;
    font-size: 30px; /* Changer la taille de la flèche ici */
    text-align: center;
    line-height: 50px; /* Changer la hauteur de la flèche ici */
    width: 50px; /* Changer la largeur de la flèche ici */
    height: 50px; /* Changer la hauteur de la flèche ici */
    border-radius: 25px; /* Changer le rayon de la bordure ici */
    text-decoration: none;
    opacity: 0.7;
    z-index: 1000;
}

.scrollTop:hover {
    opacity: 1;
}