body {
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url("../img/walPaper.png");
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#contenueAvecFooter {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#contenueContact {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    flex-grow: 1;
    padding: 50px;

}

h1 {
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    margin: 30px 60px;
    padding: 20px 120px;
    box-shadow: 0 0 10px rgba(40, 217, 88, 0.92);
    border-radius: 5px;
    text-align: center;
}
#divTitre{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 150px;

}

#contactGauche {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    width: 25%;
}
#contactGauche p {
    word-break: break-word;
}

#contactMilieu {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    width: 25%;
}
#contactDroite {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    width: 25%;
}

.imgIcone {
    width: 64px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

#mesReseauxProfessionnelles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 150px;

}

#gitHub {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    width: 25%;
}

#linkdin {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    width: 25%;
}
.liens{
    text-decoration: none;
    color: #333;

}
.liens:hover{
    text-decoration: none;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(40, 217, 88, 0.92);
    padding: 7px;
}


.scrollTop {
    position: fixed;
    bottom: 70px;
    right: 150px;
    display: none;
    background-color: rgb(36, 132, 143);
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-decoration: none;
    opacity: 0.7;
    z-index: 1000;
}

.scrollTop:hover {
    opacity: 1;
}